@font-face {
  font-family: "Balik_Kampung";
  src: url("/fonts/Balik_Kampung.ttf");
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
}

a {
  color: #00B7FF;
}

#body {
  display: flex;
  flex: 1 0 0;
}

.top-bar {
  display: flex;
  flex: 0 0 250px;
  background: url("/images/glass.jpeg");
  background-size: 100%;
  background-position: center;
  color: #fff;
  border-bottom: 4px solid #fff;
  order: 0;
  position: relative;
}

#root {
  display: flex;
  flex: 1 0 0;
}

.backoffice {
  display: flex;
  flex: 1 0 0;
}

.backoffice-page {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  width: 100%
}

.backoffice-page .backoffice-page-title {
  display: flex;
  flex: 0 0 30px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  border-bottom: 1px solid #e9e9e9;
}

.backoffice-page .backoffice-submenu {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row-reverse;
  padding-top: 5px;
  padding-bottom: 5px;
}

.backoffice-page .backoffice-submenu .backoffice-submenu-option {
  background: #e9e9e9;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
}

.backoffice-submenu-option.refresh {
  color: #265926;
}

.backoffice-submenu-option.refresh:hover {
  color: #e9e9e9;
  background: #265926;
}

.backoffice-page .backoffice-page-content {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  overflow-y: auto;
}

.backoffice-poem-actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(0 ,0 ,0 , 0.5);
  width: 100%;
  height: calc(100% - 100px);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  justify-content: space-between;
  text-align: center;
}

.backoffice-poem-actions .save-poem {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid;
  margin: 0 10px;
}

.backoffice-poem-actions .hide-poem {
  border-radius: 5px;
  border: 1px solid;
  padding: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.backoffice-poem-actions .save-poem:hover {
  background: #005CB4;
}

.backoffice-poem-actions .hide-poem:hover {
  background: #ff9800;
}

.new-poems {
  display: flex;
  flex: 0 0 auto;
  background: #FFF680;
  padding: 10px;
  margin-top: 20px;
  position: relative;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-poems::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  top: -15px;
  right: 30px;
  bottom: auto;
  left: auto;
  border-width: 0 15px 15px;
  border-color: #FFF680 transparent;
  border-style: solid;
}

.backoffice-side-bar {
  display: flex;
  flex: 0 0 auto;
  width: 150px;
  position: absolute;
  height: 100%;
  left: -110px;
  -webkit-transition: left 0.5s;
  z-index: 2;
}

.backoffice-side-bar:hover {
  left: 0px;
}

.backoffice-content {
  display: flex;
  flex: 1 0 0;
  position: absolute;
  width: calc(100% - 150px);
  height: calc(100% - 90px);
  left: 40px;
  padding: 15px 30px;
  margin: 30px;
  background: #fff;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 12px #ccc;
}

.top-bar-logo {
  flex: 1 0 0;
}

.logo {
  padding: 5px;
  font-size: 70px;
  font-family: 'Balik_Kampung', sans-serif;
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
}

.logo:hover {
  text-shadow: 2px 2px 2px black;
}

.top-bar-image {
  height: 150px;
  width: 150px;
  background: #fff;
  position: absolute;
  left: calc(50% - 75px);
  top: calc(100% - 75px);
  border-radius: 50%;
  padding: 5px;
}

.top-bar-image img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  opacity: 0.8;
}

.top-bar-menu {
  flex: 0 0 0;
  padding: 5px;
}

.top-bar-menu-head {
  padding: 10px;
  cursor: pointer;
  border: 2px dashed #fff;
  height: 50px;
  width: 50px;
  line-height: 70px;
  text-align: center;
}

.top-bar-menu-content {
  display: none;
}

.body-content {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  background: #e9e9e9;
  background: url("/images/pattern.jpg");
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.PoemListing {
  display: flex;
  padding: 0 20px;
  flex-wrap: wrap;
}

.PoemItem {
  display: flex;
  flex-direction: column;
  flex: 0 0 0;
  background: #fff;
  margin: 0 0 10px 0;
  border-radius: 5px; 
  height: 300px;
  width: 24%;
  position: relative;
}

.PoemItem .cover {
  flex: 1 0 30%;
  overflow: hidden;
  position: relative;
}

.PoemItem .cover img {
  min-height: 100%;
  min-width: 100%;
}

.PoemItem .title {
  flex: 1 0 0;
  padding: 5px;
  line-height: 2;
  font-size: 16px;
}

.PoemItem .content {
  flex: 2 0 0;
  padding: 5px;
  overflow: hidden;
  position: relative;
}

.PoemItem .content .read-more { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; 
  padding: 50px 0 15px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), #fff);
}

.PoemItem .content .read-more a {
  padding: 5px;
  border: 1px solid #001f3f;
  border-radius: 5px;
  background: #fff;
}

.PoemItem .content .read-more a:hover {
  color: #fff;
  background: #001f3f;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #001f3f;
  font-weight: 700;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
